
html {
  display: table;
  margin: auto;
}

body {
  background-color: rgb(66, 25, 33);
  color: rgb(255, 255, 255);
  font-family: fantasy;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 5px;
}

header {
  padding: 1em;
  clear: both;
}

textarea {
  vertical-align: top;
}

a{
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
}
.link{
  padding: 8px;
}
.link:hover{
  background-color: rgb(206, 120, 37);;
}

.desc {
  color: lightgray;
  /*text-align: left;*/
}

.elem {
  float: left;
  margin: 5px;
  padding: 10px;
  max-width: 500px;
  border: none;
  vertical-align: middle;
}

address {
  margin-top: 8px;
  font-size: 90%;
}
