
html {
  display: table;
  margin: auto;
}

body {
  color: rgb(78, 35, 9);
  background-color: rgb(237, 215, 201);
  font-family: fantasy;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 5px;
}

header {
  padding: 1em;
  clear: both;
}
header img {
  height: 3em;
}

textarea {
  vertical-align: top;
}

a{
  display: inline-block;
  color: brown;
  text-align: center;
  text-decoration: none;
  border: none;
}
.link{
  padding: 8px;
}
.link:hover{
  background-color: rgb(78, 35, 9);
  color: rgb(237, 215, 201);
}

.desc {
  font-size: 90%;
  /*color: brown;*/
  /*text-align: left;*/
}

.elem {
  float: left;
  margin: 5px;
  padding: 10px;
  max-width: 500px;
  border: none;
  /*background-color: rgb(240,240,240);*/
  vertical-align: middle;
}

table, th, td {
  color: white;
  border: none;
  border-collapse: collapse;
}

table#cerv {
  width: 80%;
  max-width: 420px;
}

address {
  margin-top: 8px;
  font-size: 90%;
}
