/*EL BRAUT ESTILO, BABY*/
* {
  box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 10px;
}

html {
  font-family: 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
  /*padding: 5px;*/
  background: white;
  margin: auto;
  /*background: white;*/
  background-color: rgb(237, 215, 201);
  color: rgb(78, 35, 9);
}

body {
  margin: 0;
}
/* navigation bar */
nav {
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
  /*background: rgb(78, 35, 9);*/
  background: #F4F4F4;
  position: fixed;
  box-shadow: 8px 8px 8px 0px rgba(0,0,0, 0.2);
  font-variant-caps: small-caps;
}
nav ul {
  list-style-type: none;
  margin: 0;
  overflow: auto;
}
nav li {
  display: inline;
  /*padding: 5px;*/
  float: left;
}

a {
  padding: 10px;
  color: #373737;
  /*color: rgb(78, 35, 9);*/
  text-decoration: none;
  display: block;
}
a:hover {
  font-weight: bold;
  text-decoration: overline underline;
}

/* social media*/
.socialmedia {
  /*margin-top: 8px;*/
  font-size: 90%;
  color: darkgrey;
}
.socialmedia input{
  width: 2em;
  margin: 2px;
  vertical-align: middle;
}
.socialmedia:hover {
  border: 1px;
  border-color: #373737;
}

header {
  text-align: center;
  display: table-cell;
  text-align: center;
  /*height: 4em;*/
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 1em;
}
header img {
  max-width: 400px;
  /*max-height: 10em;*/
}
main {
  text-align: center;
}

ul.bier {
  list-style-type: none;
  margin: 0;
  padding: 8px 0px 8px 0px;
  overflow: auto;
}
ul.bier input {
  /*max-width: 10%;*/
  max-width: 8em;
}
ul.bier li {
  display: inline;
  padding: 5px 10px 0px 10px;
}

.cont {
  /*background: #F4F4F4;*/
}


/* dropdown properties */
.dropdown {
  min-width: 160px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0, 0.2);
  padding: none;
}
.dropdown-content {
  min-width: 160px;
  padding: 5px 0px 0px 0px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover nav.dropdown a {
  /*display: block;*/
}
.dropdown:hover #menu_title {
  display: none;
}
#menu_title {
  text-align: center;
  vertical-align: middle;
  padding: 0px 10px 5px 0px;
  font-family: monospace;
  font-variant-caps: all-small-caps;
  font-size: 1.5em;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
#menu_full {
  text-align: center;
}
.dropdown-content {display: none;}
@media only screen and (min-width: 830px) {
    /* For desktop: */
    .col-1 {width: 10%;}
    .col-2 {width: 20%;}
    .col-3 {width: 30%;}
    .col-4 {width: 40%;}
    .col-5 {width: 50%;}
    .col-6 {width: 60%;}
    .col-7 {width: 70%;}
    .col-8 {width: 80%;}
    .col-9 {width: 90%;}
    .col-0 {width: 100%;}
    #menu_full {
      text-align: right;
    }
    table.socialmedia, th, td {
      margin-right: 0px;
      margin-left: auto;
    }
    #menu_title {display: none;}
    .dropdown-content {display: block;}
    ul.bier li { display: block;}
}
