/*EL BRAUT ESTILO, BABY*/
* {
  box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 10px;
}


html {
  font-family: 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
  padding: 5px;
  background: white;
  margin: auto;
  background-color: rgb(237, 215, 201);
  color: rgb(78, 35, 9);
}

body {
  /*font-family: fantasy;*/
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 5px;
}
nav {
  background-color: rgb(237, 215, 201);
  vertical-align: middle;
  clear: both;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li {
  display: block;
  text-align: right;
  padding: 5px;
}
header {
  padding: 1em;
  clear: both;
}
header img {
  height: 3.8em;
}

textarea {
  vertical-align: top;
}

a{
  display: inline-block;
  color: brown;
  text-align: center;
  text-decoration: none;
  border: none;
}
.link{
  padding: 8px;
}
.link:hover{
  background-color: rgb(78, 35, 9);
  color: rgb(237, 215, 201);
}

.desc {
  font-size: 90%;
  /*color: brown;*/
  /*text-align: left;*/
}

.elem {
  float: left;
  margin: 5px;
  padding: 10px;
  max-width: 500px;
  border: none;
  /*background-color: rgb(240,240,240);*/
  vertical-align: middle;
}

table, th, td {
  color: white;
  border: none;
  border-collapse: collapse;
}

table#cerv {
  width: 80%;
  max-width: 420px;
}

address {
  margin-top: 8px;
  font-size: 90%;
}

.socialmedia {
  /*margin-top: 8px;*/
  font-size: 90%;
  color: darkgrey;
}
.socialmedia input{
  width: 2em;
  margin: 5px;
  vertical-align: middle;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
#menu_full {
  text-align: center;
}
table.socialmedia, th, td {
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 650px) {
    /* For desktop: */
    .col-1 {width: 10%;}
    .col-2 {width: 20%;}
    .col-3 {width: 30%;}
    .col-4 {width: 40%;}
    .col-5 {width: 50%;}
    .col-6 {width: 60%;}
    .col-7 {width: 70%;}
    .col-8 {width: 80%;}
    .col-9 {width: 90%;}
    .col-0 {width: 100%;}
    #menu_full {
      text-align: right;
    }
    table.socialmedia, th, td {
      margin-right: 0px;
      margin-left: auto;
    }
}
